:root {
    --clr-primary: #000000;
    --clr-secondary: #ffff;
    --clr-action: #ffff;
    --clr-action-2: #000000;

    --bg-clr-primary: #ffff;
    --bg-clr-secondary: #ece8e8;
    --bg-clr-action: #000000;

    --fs-heading: 4rem;
    --fs-title: 3rem;
    --fs-sub-title: 2.5rem;
    --fs-sub-title-2: 1.5rem;
    --fs-action: 1rem;
    --fs-regular: 1.5rem;
    --fs-nav-regular: 0.8rem;
    --fs-logo-regular: 1.3rem;

    --fw-heading: 500;
    --fw-title: 500;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-action: 400;

}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    scroll-behavior: smooth;
    /* overflow: scroll;
    border: 2px solid red; */
}

body {
    width: 100vw;
    background-color: var(--bg-clr-primary);

}

header {
    display: flex;
    width: 100vw;
    height: 5rem;
    position: fixed;
    background-color: #fffffffd;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}

header .logo-link {
    display: flex;
    color: var(--clr-primary); 
    width: auto;
    height: 2.5rem;
    align-items: center;
    text-decoration: none;
    margin-left: 1.5rem;
}

.logo-link img {
    width: 2rem;
    height: 1.4rem;
}

.logo-link h3 {
    width: 10rem;
    font-size: var(--fs-logo-regular);
    font-weight: var(--fw-medium);
    text-align: center;
    text-decoration: none;
    overflow-x: hidden;
}

nav {
    display: flex;
    height: inherit;
    gap: 0.5rem;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

nav a {
    display: inherit;
    color: var(--clr-primary);
    font-size: var(--fs-nav-regular);
    font-weight: var(--fw-regular);
    height: 2rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 0.2rem 0.8rem;
}

.nav-secondary-div {
    display: flex;
    width: 10rem;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;

}

.nav-secondary-div a {
    display: inherit;
    color: var(--clr-primary);
    font-size: var(--fs-nav-regular);
    font-weight: var(--fw-regular);
    height: 2rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 0.2rem 0.8rem;
}

.nav-secondary-div .nav-sign-up {
    color: var(--clr-action);
    background-color: var(--bg-clr-action);
    border-radius: 0.5rem;

}

nav .products-content {
    display: none;
}

nav .solutions-lists {
    display: none;
}

nav .templates-lists {
    display: none;
}

nav .integrations-comps {
    display: none;
}

nav .resources-and-support {
    display: none;
}

.hero-section {
    display: flex;
    position: relative;
    top: 5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem;
    z-index: 0;
}

.hero-section .hero-video {
    padding: 2rem;
}

.hero-section .hero-text {
    display: flex;
    position: relative;
    width: 70%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;

}

.hero-section .hero-text h2 {
    color: var(--clr-primary);
    font-size: var(--fs-heading);
    font-weight: var(--fw-heading);
   
}

.hero-section .hero-text p {
    color: var(--clr-primary);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
   
}

.hero-section .hero-text a {
    color: var(--clr-action);
    text-decoration: none;
    text-align: center;
    width: 11rem;
    font-size: var(--fs-action);
    font-weight: var(--fw-action);
    background-color: var(--bg-clr-action);
    border-radius: 1rem;
    padding: 0.7rem;
}

.rating-section {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 7rem 0;
}

.rating-section .trusted-companies {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.rating-section .trusted-companies p {
    color: #fffffffb;
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
}

.rating-section .trusted-companies img {
    width: 8rem;
    height: 4rem;
}

.contents {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7rem;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.contents h2 {
    color: var(--clr-primary);
    font-size: var(--fs-title);
    font-weight: var(--fw-medium);

}

.contents h2:first-child {
    text-align: center;
}

.contents .for-them {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
}

.contents .for-them-video {
    padding: 2rem;
}

.contents .for-them-text {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 0 0 0 3rem;

}

.contents .for-them-text h3 {
    color: var(--clr-primary);
    font-size: var(--fs-sub-title);
    font-weight: var(--fw-title);
}

.contents .for-them-text p {
    color: var(--clr-primary);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
}

.contents .for-them-text a {
    color: var(--clr-action);
    text-decoration: none;
    text-align: center;
    width: 7rem;
    font-size: var(--fs-action);
    font-weight: var(--fw-action);
    background-color: var(--bg-clr-action);
    border-radius: 1rem;
    padding: 1rem;
}

.contents .for-you {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
}

.contents .for-you-video {
    padding: 2rem;
}

.contents .for-you-text {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 0 0 0 3rem;

}

.contents .for-you-text h3 {
    color: var(--clr-primary);
    font-size: var(--fs-sub-title);
    font-weight: var(--fw-title);

}

.contents .for-you-text p {
    color: var(--clr-primary);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
   
}

.contents .for-you-text a {
    color: var(--clr-action);
    text-decoration: none;
    text-align: center;
    width: 7rem;
    font-size: var(--fs-action);
    font-weight: var(--fw-action);
    background-color: var(--bg-clr-action);
    border-radius: 1rem;
    padding: 1rem;
}

.contents .workflow-int {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 7rem 0;
}

.contents .workflow-int div {
    display: flex;
    background-color: var(--bg-clr-secondary);
    width: 13rem;
    height: 13rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 1rem;
}

.contents .workflow-int div:first-child {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-clr-primary);
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.contents .workflow-int div:first-child h3 {
    color: var(--clr-primary);
    font-size: var(--fs-sub-title-2);
    font-weight: var(--fw-regular);
}

.contents .workflow-int div:first-child a {
    color: var(--clr-primary);
    text-decoration: underline;
    font-size: var(--fs-action);
    font-weight: var(--fw-regular);
}


.contents .do-it-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.contents .do-it-all a {
    color: var(--clr-action-2);
    font-size: var(--fs-action);
    text-decoration: none;
}

.contents .do-it-all a:hover {
    text-decoration: underline;
}

.contents .do-it-all .a-browse-all {
    font-weight: var(--fw-medium);
    text-decoration: underline;
}

.contents .do-it-all-1st-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contents .do-it-all-1st-div h3 {
    color: var(--clr-primary);
    font-size: var(--fs-sub-title);
    font-weight: var(--fw-title);
}

.contents .do-it-all-1st-div p {
    color: var(--clr-primary);
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
}

.contents .do-it-all-2nd-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.contents .do-it-all-2nd-div .content-section-templates {
    display: flex;
    flex-direction: column;
    height: 10rem;
    gap: 1rem;
    justify-content: center;
    background-color: var(--bg-clr-secondary);
    padding: 1.5rem;
    border-radius: 1rem;
}

.contents .do-it-all-2nd-div .content-section-templates:hover {
    background-color: #000000;
}

.contents .do-it-all-2nd-div .content-section-templates h3 {
    color: var(--clr-primary);
    font-size: var(--fs-sub-title-2);
    font-weight: var(--fw-regular);
}

.contents .do-it-all-2nd-div .content-section-templates:hover h3 {
    color: var(--clr-action);
}

.contents .do-it-all-2nd-div .content-section-templates:hover a {
    color: var(--clr-action);
}


.contents .do-it-all-2nd-div .content-section-templates ul li {
    list-style: none;
}

.contents .do-it-all-2nd-div .content-section-templates ul li span {
    display: inline-flex;
    width: 0.9rem;
    height: 0.9rem;
    background-image: url(images/arrow-forward.svg);
    background-size: cover;
}

.contents .do-it-all-2nd-div .content-section-templates:hover ul li span {
    background-image: url(images/arrow-forward-white.svg);
}
/*  */

.contents .why-typeform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.contents .why-typeform .child-1 {
    grid-row: 1 / -3;
    grid-column: 1 / 3;
}

.contents .why-typeform .child-2 {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
}

.contents .why-typeform .child-3 {
    grid-row: 2 / -2;
    grid-column: 2 / 2;
}