:root {
    --clr-primary: #000000;
    --clr-secondary: #ffff;
    --clr-action: #ffff;

    --bg-clr-primary: #ffff;
    --bg-clr-secondary: #c9c9c9;
    --bg-clr-action: #000000;

    --fs-heading: 4rem;
    --fs-title: 2rem;
    --fs-regular: 1rem;
    --fs-nav-regular: 0.8rem;
    --fs-logo-regular: 1.3rem;

    --fw-heading: 500;
    --fw-title: 500;
    --fw-medium: 500;
    --fw-regular: 400;

}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    scroll-behavior: smooth;
    /* overflow: scroll; */
    /* border: 2px solid red; */
}

body {
    width: 100vw;
    background-color: var(--bg-clr-primary);

}

header {
    display: flex;
    width: 100vw;
    height: 5rem;
    position: fixed;
    background-color: #fffffffb;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}

header .logo-link {
    display: flex;
    color: var(--clr-primary); 
    width: auto;
    height: 2.5rem;
    align-items: center;
    text-decoration: none;
    margin-left: 1.5rem;
}

.logo-link img {
    width: 2rem;
    height: 1.4rem;
}

.logo-link h3 {
    width: 10rem;
    font-size: var(--fs-logo-regular);
    font-weight: var(--fw-medium);
    text-align: center;
    text-decoration: none;
    overflow-x: hidden;
}

nav {
    display: flex;
    height: inherit;
    gap: 0.5rem;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

nav a {
    display: inherit;
    color: var(--clr-primary);
    font-size: var(--fs-nav-regular);
    font-weight: var(--fw-regular);
    height: 2rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 0.2rem 0.8rem;
}

.nav-secondary-div {
    display: flex;
    width: 10rem;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;

}

.nav-secondary-div a {
    display: inherit;
    color: var(--clr-primary);
    font-size: var(--fs-nav-regular);
    font-weight: var(--fw-regular);
    height: 2rem;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 0.2rem 0.8rem;
}

.nav-secondary-div .nav-sign-up {
    color: var(--clr-action);
    background-color: var(--bg-clr-action);
    border-radius: 0.5rem;

}

nav .products-content {
    display: none;
}

nav .solutions-lists {
    display: none;
}

nav .templates-lists {
    display: none;
}

nav .integrations-comps {
    display: none;
}

nav .resources-and-support {
    display: none;
}

.hero-section {
    display: flex;
    position: relative;
    top: 5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem;
    
}

.hero-section .hero-video {
    position: relative;
}

.hero-section .hero-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.hero-section .hero-text h2 {
    color: var(--clr-primary);
    font-size: var(--fs-heading);
    font-weight: var(--fw-heading);
   
}